<%- include("partials/header"); -%>

<div class="container main-content">
  <br>
  <h1>Home</h1>

  <p style="background-color:cornsilk;"><%= blog1 %></p>

  <div class="row">
    <% posts.forEach(function(post) { %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <!-- <img src="<%= post.image %>" class="card-img-top" alt="Image Alt Text"> -->
          <div class="card-body card-hover" style="background-color: #eee; width: 300px; height: max-content;">
            <h3 class="card-title"><%= post.title %></h3>
            <p class="card-text"><%= post.blog.substring(0, 100) + " ..." %></p>
            <a href="/posts/<%= post.title %>" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
    <% }); %>
  </div>

  <div class="text-center">
    <button class="btn btn-success compose" type="button" name="button"><a href="/compose">Compose</a></button>
  </div>
</div>

<%- include("partials/footer"); -%>
