<%- include("partials/header"); -%>

<h1>Currently browsing: Home</h1>
<div class="home-content">
  <div class="card-group">
    <div class="card">
      <img class="card-img-top" src="./css/images/theater.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Theatre</h5>
        <p class="card-text"><%=blog1%></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
   
  </div>

</div>

<% posts.forEach(function(post){  %>
<h3> <%=post.title%></h3>
<p>
  <%=post.blog.substring(0, 100)+" ..."%>
  <a href="/posts/<%=post.title%>">Read more</a>
</p>
<% }); %>



<div class="text-center">
  <button class="btn btn-success compose" type="button" name="button"><a href="/compose">+</a></button>
</div>

<!-- <p><%=posts%></p> -->

<%- include("partials/footer"); -%>
