<%- include("partials/header"); -%>

    <div class="detail-container ">
        <h1 class="detail-title"> <%=nextBlogTitle%></h1>
        <div class="detail-author">
            <span> by: <%=nextBlogAuthor%></span> . 
            <!-- Add published date here after updating the blogs -->
            <span> March 18th, 2024</span>
        </div>
        <img class="detail-image" src="<%=nextBlogImage%>" alt="Image not Available"/>
        <div class="detail-content">
            <p class="detail-text">  <%=nextBlog%> </p>
        </div>
    </div>

<%- include("partials/footer"); -%>
